{% extends 'base.html' %}
{% block title %}Registro — LibroLibre{% endblock %}
{% block content %}
<div class="form-container">
    <h2>&#128221; Crear cuenta</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="field-error">&#9888; {{ field.errors|striptags }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary w-full mt-2">Registrarse</button>
    </form>
    <p class="form-footer">¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
</div>
{% endblock %}
